* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.flex {
    display: flex;

}

.form1 label {
    display: block;
}

.form2 label {
    display: inline-block;
}

.form2 input {
    margin-bottom: -2px;
}

h1 {
    font-size: 30px;
    color: #1f222c;
    font-family: "Roboto";
    text-align: center;
    margin-top: 80px;
    margin-bottom: 70px;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto";
    margin-bottom: 25px;
}

.wrapper {
    max-width: 990px;
    margin: 0 auto;
}

.form1 input,
select,
button,
textarea {
    width: 100%;
    padding: 11px 15px;
    margin-top: 10px;
    border: #ccc solid 1px;
    border-radius: 3px;
}

.form1 input:focus,
.form1 select:focus,
.form1 textarea:focus,
.form1 input:hover,
.form1 select:hover,
.form1 textarea:hover {
    outline: none;
    border: #3e6aff solid 1px;
    box-shadow: 0 0 2.5px rgba(62, 106, 255, 0.55);
}

select {
    appearance: none;
    background-color: transparent;
}

.arrowlabel {
    position: relative;
}

.arrowlabel::after {
    content: "";
    border-top: 4px #000 solid;
    border-left: 4px #000 solid;
    border-right: 4px transparent solid;
    border-bottom: 4px transparent solid;
    transform: rotate(-135deg);
    display: inline-block;
    position: absolute;
    top: 24px;
    right: 15px;
    z-index: -1;
    transition: transform .2s;
}

.form1 {
    width: 330px;
}

hr {
    margin: 50px 0;
}

.form2 input:disabled+label {
    color: #b3b3b3;
}

.form2 label {
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
    margin: 10px 0;

}

.form2 p {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto";
    margin-top: 10px;
    width: 44px;
}


.form2 .flex {
    justify-content: space-between;
}

.form2 .datef2 label {
    margin: 10px 20px 0;
}

.form2 .radiof2 input[type="radio"] {
    appearance: none;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-right: 15px;
}

.form2 .radiof2 input[type="radio"]:disabled {
    background-color: #f7f7f7;
}

.form2 .radiof2 input[type="radio"]:checked {
    border-color: #3e6aff;
}

.form2 .radiof2 input[type="radio"]:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #fff;
}

.form2 .radiof2 input[type="radio"]:checked:before {
    background-color: #3e6aff;
}

.form2 input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.form2 input[type="checkbox"]:hover {
    outline: none;

}

.form2 input[type="checkbox"]:disabled {
    background-color: #f7f7f7;

}

.form2 input[type="checkbox"]:checked {
    border-color: #3e6aff;
}

.form2 input[type="checkbox"]:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    display: inline-block;
    width: 7px;
    height: 4px;
    border-radius: 3px;
}

.form2 input[type="checkbox"]:checked:before {
    border-bottom: #244dd7 solid 2px;
    border-left: #244dd7 solid 2px;
    transform: rotate(-45deg);
}

.form2 input[type="date"] {
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 10.5px;
    background: white url(../images/date.png) no-repeat top 10px right 10px;
    color: black;
}

.form2 input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.form2 .datef2 {
    border-radius: 3px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
    padding: 15px 20px;
}

.form2 .datef2 .flex {
    justify-content: start;
    align-items: center;
}

textarea {
    width: 100%;
    min-height: 102px;
    max-height: 150px;
    padding: 11px 15px;
    resize: vertical;
}

input,
textarea::placeholder {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
}

select {
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
    padding-left: 12px;
}

option {
    padding: 0;
}

button {
    height: 43px;
    background-color: #12d661;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    margin-top: 5px;
}

button:hover {
    box-shadow: 0px 2px 2.5px rgba(8, 118, 52, 0.35);
    background-color: #07be51;
    cursor: pointer;
}

.form3 input[type="radio"] {
    appearance: none;
    margin-right: 15px;
}

.form3>* {
    width: 50%;
}

.form3 input[type="radio"]:checked {
    border-color: #3e6aff;
}

#man:before {
    content: "";
    display: inline-block;
    background: url(../images/man.png);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 5px;
}

#woman:before {
    content: "";
    display: inline-block;
    background: url(../images/woman.png);
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#man:checked:before {
    background: url(../images/manblue.png);
}

#woman:checked:before {
    background: url(../images/womanblue.png);
}

.gender {
    font-size: 16px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto";
}

.gender input:checked+label {
    color: #3e6aff;
}

.gender .flex {
    align-items: center;
}

.tasks.flex {
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.tasks label {
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}

.tasks input {
    vertical-align: middle;
    margin-right: 20px;
}

.tasks input {
    position: relative;
    appearance: none;
    width: 45px;
    height: 25px;
    border-radius: 13px;
    background-color: #cfcfd1;
}

.tasks input:before {
    content: " ";
    position: absolute;
    top: 2px;
    left: 2px;
    display: inline-block;
    width: 21px;
    height: 21px;
    border-radius: 11px;
    background-color: #fff;

}

.tasks input:checked {
    background-color: #3e6aff;
}

.tasks input:checked::before {
    left: 22px;
}